.Quiz-App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh; 
}

.Quiz-App-content{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}